html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    width: 100%;
}

body {
    /* background: linear-gradient(135deg, rgba(111, 222, 237, 1) 0%, rgba(67, 179, 239, 1) 100%);
    background: linear-gradient(135deg, rgba(86, 183, 147, 1) 0%, rgba(39, 176, 244, 1) 100%);
    background: linear-gradient(135deg, rgba(124, 220, 244, 1) 0%, rgba(39, 157, 247, 1) 100%);
    background: linear-gradient(135deg, rgba(124, 220, 244, 1) 0%, rgba(26, 181, 242, 1) 100%); */
    background: linear-gradient(155deg, rgba(155, 222, 239, 1) 0%, rgba(26, 181, 242, 1) 100%);
}

#root {
    height: 100%;
    width: 100%;
}

.h5 {
    font-weight: bolder;
    color: #222;
}

.h6 {
    color: #777;
}

.btn-primary {
    /* background-color: #2baae0;
    border-color: #2baae0; */
    background-color: #0885ba;
    border-color: #0885ba;
}

.btn-primary:hover {
    background-color: #06658d;
    border-color: #06658d;
}